<body>
    <title>Class Code</title>
    <center>
  <center><p>REGISTERED STUDENTS</p></center>
  <table>
  <tr>
    <th>Student Number</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Delete</th>
  </tr>

  <% @users = User.all%>
  <% @users.each do |user| %>

  <tr>
      <td> <%=user.studentnum %> </td>
      <td> <%=user.firstname %> </td>
      <td><%=user.middlename %> </td>
      <td><%=user.lastname %> </td>
      <td><%= link_to "delete", users_index_path(user), :method => :delete,:id => user.id  %></td>


    </tr>
  </tr>
  <% end %>
  </table>
</center>

<center>
<%= link_to '<button type="button">Add</button>'.html_safe, users_add_path %>&nbsp;
<%= link_to '<button type="button">Logout</button>'.html_safe, logout_path, method: :delete %>
</center>
  <style>
  body{
    background-color: #FFFACD;
    margin: auto;
  }
  button {
      background-color: #4CAF50;
      color: white;
      padding: 1% 3%;
      margin: 2% 0;
      border: none;
      cursor: pointer;
      width: 15%;
      opacity: 0.9;z
  }
  table{
    width: 80%;
    padding: 3%;
    border: 1px solid black;
    margin-left:2%;
    height: inherit;
  }
  th{
    font-size: 15pt;
    text-align: left;
    border: 1px solid black;
  }
  td{
      border: 1px solid black;
      font-size: 12pt;
  }
  p{
    margin-top: 5%;
    font-size: 30pt;
  }
  </style>
</body>
